body
{
    background-color: #656565;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-y: hidden;
}
#section-2
{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s;
}
#section-3
{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s;
}
#section-4
{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s;
}
#section-5
{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s;
}
#section-6
{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s;
    text-align: center;
    color: #d2dc39;
}
#section-1.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s linear 0s;
  }
  
#section-2.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s linear 0s;
}
#section-3.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s linear 0s;
}
#section-4.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s linear 0s;
}
#section-5.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s linear 0s;
}
#section-6.show
{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s linear 0s;
}

h1
{
    color: white;
    font-size: 75px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: max-content;
}

.box {
    position: relative;
    height: 430px;
	/* background-color: #eee; */
    background: radial-gradient(#fff2 30%, #fff4);
    box-shadow: 5px 5px 10px #0007, -1px -1px 2px #fff, 1px 1px 2px #555;
    backdrop-filter: blur(5px);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	max-width: 800px;
	width: 100%;
}

h1 {
	text-align: center;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input[type="text"],
form textarea {
	display: block;
	margin-bottom: 10px;
	width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    background-color: #e4e4e49c;
    letter-spacing: 1px;
}
form textarea
{
    height: 200px;
}
.btn, .btn-2
{
    background-color: #4CAF50;
    color: white;
    border: none;
    /* padding: 10px; */
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.btn, .btn-large, .btn-2 {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn, .btn-2 {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 5px 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.btn-3
{
    position: absolute;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    float: right;
    right: 10px;
    bottom: 10px;
}
.btn
{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 70px;
    padding: 12px;
    right: 10px;
    bottom: 10px;
}
#section-1
{
    overflow-y: auto;
    height: 330px;
}
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="button"] {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="button"]:hover {
  background-color: #007A9B;
}

.dropdown-content {
    position: absolute;
    max-height: 300px;
    overflow-y: scroll;
    background-color: white;
    list-style-type: none;
}
.dropdown-content
{
    padding-left: 0;
}
.dropdown-content li:hover
{
    background-color: #dfdfdf69;
}

.chip
{
    display: flex;
    width: fit-content;
    float: left;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #dffff9;
    margin-bottom: 5px;
    margin-right: 5px;
}
.chips
{
    border: none;
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
    margin: 0 0 20px 0;
    min-height: 45px;
    outline: none;
    transition: all .3s;
}
.chips .input
{
    background: none;
    border: 0;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: 1rem;
    height: 3rem;
    line-height: 32px;
    outline: 0;
    margin: 0;
    padding: 0 !important;
    width: 120px !important;
}
.material-icons.close
{
    font-size: 30px;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

#experiences,#education
{
    overflow-y: auto;
    height: 300px;
}
ul
{
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
}
.duration_dd li
{
    display: inline;
    float: left;
    padding: 10px 20px;
}
select
{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

::-webkit-scrollbar {
    width: 10px;   
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}